
[general]
pid-file=./xplhan.pid
#interface=
#log-file=
#han-socket=1129
#host = localhost
host = phones
services=outside-temp, attic-temp, mains-voltage, mains-frequency, attic-relay-control, attic-relay-request



[outside-temp]
address=6
instance = outsidetemp
class = sensor
type = request
han-command = gtmp
units = fahrenheit
polling-interval = 60
channel = 1




[attic-temp]
address = 4
instance = attictemp
class = sensor
type = request
han-command = gtmp
units = fahrenheit
polling-interval = 60
channel = 0


[mains-voltage]
address = 3
instance = acvolts
han-command = gacd
class = sensor
type = request;
units = volts

[mains-frequency]
address = 3
instance = acfrequency
han-command = gacd
class = sensor
type = request
units = hertz

[attic-relay-control]
address = 4
instance = atticrelaycontrol
class = control
type = basic
han-command = gout
channel = 0


[attic-relay-request]
address = 4
instance = atticrelayrequest
class = sensor
type = request
han-command = gout
units = output
channel = 0


